<% content_for :title do %>
  Corsego 
  |
  Online Courses - Learn Anything, On Your Schedule
<% end %>
<div class="container mt-2">
  <div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
      <h1>What do you want to learn today?</h1>
      <% if current_user %>
        <%= search_form_for @ransack_courses, as: :courses_search, url: courses_path do |f| %>
          <div class="input-group">
            <%= f.search_field :title_cont, class: 'form-control-sm', style: 'float: left; width: 150px; ', placeholder: 'Find a course', :autocomplete => :off %>
            <span class="input-group-append">
              <button class="btn btn-primary btn-sm" type="submit">
                <span aria-hidden="true" class="fa fa-search"></span>
              </button>
            </span>
          </div>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>

  <div class="card-group">

    <div class="card card-body">
      <h1><i class="fa fa-graduation-cap"></i></h1>
      <p>
        <%= pluralize(Course.approved.published.count, 'online courses') %>
      </p>
      <div class="row">
        <p>Explore a variety of fresh topics</p>
      </div>
    </div>

    <div class="card card-body">
      <h1>
        <i class="fa fa-chalkboard-teacher"></i>
      </h1>
      <p>
        <%= Course.distinct.count(:user_id) %>
        Expert instructors
      </p>
      <div class="row">
        <p>Find the right instructor for you</p>
      </div>
    </div>

    <div class="card card-body">
      <h1><i class="fa fa-user-graduate"></i></h1>
      <p>
        <%= User.count %>
        Active learners
      </p>
      <div class="row">
        <p>Join the knowledge sharing community</p>
      </div>
    </div>

    <div class="card card-body">
      <h1> <i class="fa fa-infinity"></i></h1>
      <p>
        <%= User.count %>
        Active learners
      </p>
      <div class="row">
        <p>Lifetime access</p>
        <p> Learn on your Schedule <p>
      </div>
    </div>
  </div>

  <div class="row">
    <% if current_user %>
      <h2> <i class="fa fa-user-graduate"></i> Continue Learning</h2>
      <div class="row row-cols-1 row-cols-md-3 g-4 mb-2">
        <% @purchased_courses.each do |course|%>
          <div class="col">
            <%= render 'courses/course', course: course %>
          </div>
        <% end %>
      </div>
      <p class="text-end"><%= link_to 'All my purchased courses', purchased_courses_path %></p>
      <hr>
    <% end %>
    <h2><i class="fa fa-chart-line"></i> Popular courses</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4 mb-2">
      <% @popular.each do |course|%>
        <div class="col">
          <%= render 'courses/course', course: course %>
        </div>
      <% end %>
    </div>
    <p class="text-end"><%= link_to 'More popular courses', courses_path(courses_search: {s: 'enrollments_count desc'}) %></p>
    <hr>
    <h2><i class="fa fa-star"></i> Top rated courses</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4 mb-2">
      <% @top_rated.each do |course|%>
        <div class="col">
          <%= render 'courses/course', course: course %>
        </div>
      <% end %>
    </div>
    <p class="text-end"><%= link_to 'Best rated courses', courses_path(courses_search: {s: 'average_rating desc'}) %></p>
    <hr>
    <h2><i class="fa fa-clock"></i> Latest courses</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4 mb-2">
      <% @latest.each do |course|%>
        <div class="col">
          <%= render 'courses/course', course: course %>
        </div>
      <% end %>
    </div>
    <p class="text-end"><%= link_to 'More new courses', courses_path(courses_search: {s: 'created_at desc'}) %></p>
    <hr>
    <h2><i class="fa fa-comment"></i> What our students have to say</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4 mb-2">
      <% @latest_good_reviews.each do |enrollment|%>
        <div class="col">
          <%= render 'enrollments/enrollment', enrollment: enrollment %>
        </div>
      <% end %>
    </div>
  </div>
<div>