<div class="card">
  <div class="card-header">
    <i class="fa fa-user"></i>
    <% if user.online? %>
      <i class="text-success far fa-circle"></i>
    <% else %>
      <i class="text-danger far fa-circle"></i>
    <%end%>
    <%= link_to user.email, user_path(user) %>
  </div>
  <div class="card-footer">
    <p>Signed up <%= time_ago_in_words(user.created_at) %> ago </p>
    <div class="card-footer">
      <p><%= 'sign_in_count'.humanize %>: <%= user.sign_in_count %> </p>
      <p><%= 'current_sign_in_at'.humanize %>: <%= user.current_sign_in_at %></p>
      <p><%= 'last_sign_in_at'.humanize %>: <%= user.last_sign_in_at %> </p>
      <p><%= 'current_sign_in_ip'.humanize %>: <%= user.current_sign_in_ip %></p>
      <p><%= 'last_sign_in_ip'.humanize %>: <%= user.last_sign_in_ip %></p>
    </div>
    <div class="card-footer">
      <div class="row justify-content-center">
        <% user.roles.each do |role| %>
          <div class="col-3">
            <p><span class="badge text-bg-info text-white"><%= role.name %></span></p>
          </div>
        <% end %>
        <div class="col-12">
          <% if policy(user).edit? %>
            <%= link_to 'Edit roles', edit_user_path(user), class: 'btn btn-sm btn-warning' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>