<% content_for :title do %>
  Corsego
  |
  All Enrollments
<% end %>

<div class="container">
  <h3 class="text-center">Enrollments <span class="badge text-bg-info text-white" ><%= @enrollments.count %></span></h3>

  <%= search_form_for @q do |f| %>
    <%= f.search_field :user_email_cont, placeholder: 'user email' %>
    <%= f.search_field :course_title_cont, placeholder: 'course title' %>
    <%= f.search_field :price_eq, placeholder: 'price' %>
    <%= f.search_field :rating_eq, placeholder: 'rating' %>
    <%= f.search_field :review_cont, placeholder: 'review' %>
    <%= f.submit %>
  <% end %>
  <%= link_to 'refresh', enrollments_path %>

  <div class="table-responsive">
    <table class="table table-bordered table-striped table-sm">
      <thead>
        <tr>
          <th>ID</th>
          <th><i class="fa fa-user"></i> <%= sort_link(@q, :user_email) %></th>
          <th><i class="fa fa-clock"></i> <i class="fa fa-lock-open"></i> <%= sort_link(@q, :created_at) %></th>
          <th><i class="fa fa-graduation-cap"></i> <%= sort_link(@q, :course_title) %></th>
          <th><i class="fa fa-dollar-sign"></i> <%= sort_link(@q, :price) %> </th>
          <th><i class="fa fa-clock text-warning"></i> <%= sort_link(@q, :updated_at) %> Reviewed on </th>
          <th><i class="fa fa-star text-warning"></i> <%= sort_link(@q,:rating) %> Rating</th>
          <th><i class="fa fa-comment text-warning"></i> Review</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @enrollments.each do |enrollment| %>
          <tr>
            <td> <%= enrollment.id %> </td>
            <td> <%= link_to enrollment.user, user_path(enrollment.user) %> </td>
            <td> <%= enrollment.created_at.strftime("%d/%b/%Y, %H:%M") %> </td>
            <td> <%= link_to enrollment.course, course_path(enrollment.course) %> </td>
            <td> <%= number_to_currency(enrollment.price) %> </td>
            <td> 
              <% if enrollment.rating.present? %>
                <%= enrollment.updated_at.strftime("%d/%b/%Y, %H:%M") %>
              <% end %>
            </td>
            <td> <%= enrollment.rating %> </td>
            <td> <%= enrollment.review %> </td>
            <td> <%= link_to 'See Review', enrollment %> </td>
            <td> <%= link_to 'Add Review', edit_enrollment_path(enrollment) %> </td>
            <td> <%= button_to 'Delete enrollment', enrollment, method: :delete, form: {data: {turbo_confirm: 'Are you sure?'}}, class: 'btn btn-danger' %> </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="row mt-2">
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
  <br>
</div>