<div id="<%= dom_id lesson %>" class="card mb-2">
  <div class="card-header">
    <p><i class="far fa-check-square"></i> <%= link_to lesson.title, course_lesson_path(@course, lesson) %></p>
  </div>
  <% if policy(lesson).show? %>
    <div class="card-body">
      <%= lesson.content %>
    </div>
  <% end %>
  <% if policy(lesson).edit? %>
    <div class="card-footer">
      <%= link_to 'Edit', edit_course_lesson_path(@course, lesson), class: 'btn btn-sm btn-warning' %>
      <%= link_to 'Destroy', [@course, lesson], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
    </div>
  <% end %>
</div>
