<div id="<%= dom_id lesson %>" class="card mb-2">
  <div class="card-header">
    <%= link_to lesson.title, lesson %>
  </div>
  <div class="card-body">
    <p> <%= lesson.content %> </p>
    <p> <%= lesson.course %> </p>
  </div>
  <div class="card-footer">
    <%= link_to 'Edit', edit_lesson_path(lesson), class: 'btn btn-sm btn-warning' %>
    <%= link_to 'Destroy', lesson, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
  </div>
</div>
