<% content_for :title do %>
  Corsego 
  |
  <%= @course.title %>
<% end %>
<div class="container mt-5">
  <%= link_to 'Courses', courses_path %>
  |
  <%= link_to course_path(@course) do %>
    <i class="fa fa-graduation-cap"></i>
    <%= @course.title %>
  <% end %>
  <div class="row">
    <div class="col-lg-8 order-1 order-lg-1">
      <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <h3>
          <i class="fa fa-graduation-cap"></i>
          <%= @course.title %>
        </h3>
        <div class="row">
          <% if @course.avatar.attached? %>
            <%= image_tag @course.avatar, width: "200px" %>
          <% end %>
        </div>
        <p>
          <i class="fa fa-clock"></i>
          <%= @course.updated_at.strftime("%m/%Y") %>
        </p>
        <p>
          <i class="fa fa-globe-africa"></i>
          <%= @course.language %>
        </p>
        <p>
          <i class="fa fa-signal"></i>
          <%= @course.level %>
        </p>
        <p>
          <%= @course.description %>
        </p>
      </div>
      <h4>
        <i class="fa fa-tasks"></i>
        <%= pluralize(@course.lessons_count, 'lesson') %>
        <span class="float-end">
          <i class="fa fa-spinner"></i>
          <%= number_to_percentage(@course.progress(current_user), precision: 0) %>
        </span>
      </h4>
      <ul class="list-group lesson-sortable">
        <% @lessons.each do |lesson| %>
          <%= content_tag "div", id: "lesson-#{lesson.id}", data: { model_name: lesson.class.name.underscore, update_url: course_lesson_sort_path(@course, lesson)} do %>
            <li class="list-group-item">
              <i class="fa fa-sort all-scroll" style="cursors:grab;" ></i>
              <%= render 'lessons/lesson_preview', lesson: lesson %>
            </li>
          <% end %>
        <% end %>
      </ul>
      <p></p>
      <h4>
        <div class="fa fa-comment"></div>
        <%= pluralize(@enrollments_with_review.count, 'review') %>
      </h4>
      <% @enrollments_with_review.each do |enrollment| %>
        <%= render 'enrollments/enrollment', enrollment: enrollment %>
        <p></p>
      <% end %>
    </div>
    <div class="col-lg-4 order-0 order-lg-1">
      <div class="sticky-top">
        <%= render 'courses/course', course: @course %>
      </div>
      <p></p>
    </div>
  </div>
</div>

